Plugins>Segmentation>Maxima Based Segmenter, "Maxima_Based_Segmenter", jp.yourorg.fiji_maxima_based_segmenter.Maxima_Based_Segmenter_
Plugins>Segmentation>Maxima Based Segmenter, "Maxima_Based_Segmenter_Simple", jp.yourorg.fiji_maxima_based_segmenter.Maxima_Based_Segmenter_Simple_
Plugins>Segmentation>Maxima Based Segmenter, "Maxima_Based_Segmenter_3D", jp.yourorg.fiji_maxima_based_segmenter.Maxima_Based_Segmenter_3D_
