Plugins>Segmentation>Maxima Based Segmenter, "Maxima_Based_Segmenter", jp.yourorg.fiji_maxima_based_segmenter.Maxima_Based_Segmenter_
Plugins>Segmentation>Maxima Based Segmenter, "Maxima_Based_Segmenter_Simple", jp.yourorg.fiji_maxima_based_segmenter.Maxima_Based_Segmenter_Simple_
Plugins>Segmentation>Maxima Based Segmenter, "Maxima_Based_Segmenter_3D", jp.yourorg.fiji_maxima_based_segmenter.Maxima_Based_Segmenter_3D_
Plugins>Segmentation>Maxima Based Segmenter, "Slice_Based_3D_Segmenter", jp.yourorg.fiji_maxima_based_segmenter.Slice_Based_3D_Segmenter_
Plugins>Segmentation>Spot Quantifier, "Seeded Spot Quantifier 3D", jp.yourorg.fiji_maxima_based_segmenter.Seeded_Spot_Quantifier_3D_
